﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RL garage profit parser", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Database", "Database", "Home")</li>
                        <li>@Html.ActionLink("Saved Trades", "Saved", "Home", new { min = 0, max = 100000000 }, null)</li>
                        <li>@Html.ActionLink("Below 300 credits profit", "Saved", "Home", new { min = 0, max = 300 }, null)</li>
                        <li>@Html.ActionLink("Profit 300-1000", "Saved", "Home", new { min = 300, max = 1000 }, null)</li>
                        <li>@Html.ActionLink("Profit 1000-5000", "Saved", "Home", new { min = 1000, max = 5000 }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
