﻿
@{
    ViewBag.Title = "Database";
}
@model List<string>
<h2>Database</h2><br>
<h2>Items in database: @Model.Count</h2>

<ul class="list-group">
    @foreach (var itm in Model)
    {
        <li class="list-group-item"> @Html.DisplayFor(m => itm) </li>
    }
</ul>

